---
Checks: 'bugprone*,google*,llvm-namespace-comment,misc*,modernize*,performance*,
-google-runtime-references,-bugprone-easily-swappable-parameters,-google-build-using-namespace, -modernize-use-trailing-return-type'
HeaderFilterRegex: '.*'

