---
Checks: 'bugprone*,google*,llvm-namespace-comment,misc*,modernize*,performance*,
-bugprone-easily-swappable-parameters,-google-build-using-namespace,
-google-readability-todo,-modernize-return-braced-init-list'
HeaderFilterRegex: '.*'

